body {
    background-color: #6F7479;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
}

.header {
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    grid-area: 1 / 1 / span 1 / span 4;
    text-align: center;
    background-color: #A9D1FA;
    border-bottom: 3px;
    border-style: outset;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-radius: 3px;
    margin-left: 40px;
    margin-right: 40px;
}

.title {
    grid-area: 2 / 1 / span 1 / span 4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 3px;
    border-style: outset;
    border-radius: 5px;
    background-color: #A9D1FA;
    margin-left: 40px;
    margin-right: 40px;
}

.movieImage {
    grid-area: 3 / 1 / span 4 / span 2;
    margin-left: 40px;
    border: 3px;
    border-style: outset;
    border-radius: 5px;
    height: 500px;
    background-color: #A9D1FA;
}

.release {
    grid-area: 3 / 3 / span 1 / span 2;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px;
    border-style: outset;
    border-radius: 5px;
    margin-right: 40px;
    background-color: #A9D1FA;
}

.actors {
    grid-area: 4 / 3 / span 1 / span 2;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px;
    border-style: outset;
    border-radius: 5px;
    margin-right: 40px;
    background-color: #A9D1FA;
}

.genre {
    grid-area: 5 / 3 / span 1 / span 2;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px;
    border-style: outset;
    border-radius: 5px;
    margin-right: 40px;
    background-color: #A9D1FA;
}

.plot {
    grid-area: 6 / 3 / span 1 / span 2;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px;
    border-style: outset;
    border-radius: 5px;
    margin-right: 40px;
    background-color: #A9D1FA;
}

.search {
    grid-area: 3 / 3 / span 1 / span 1; 
    margin-left: -100px;   
}

.input1 {
    width: 300px;
    height: 25px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
